    <div class="list-group" id="user-tags-list"><% @user_tags.each_with_index do |i,n| %> 
      <div class="list-group-item clearfix user-tag" data-id="<%=n%>">

        <span class="pull-left">
          <span class="list-group-addon glyphicon glyphicon-tag"></span> <%= i.name.capitalize %>
        </span>

        <span class="pull-right">
          <% if i.messages.uniq.count >= 1 %>
            <b class="badge green"><%= i.messages.uniq.count %></b>
          <% end %>
        </span>

        <span class="pull-right delete-tag"><!-- use JS to hide on mouseout -->

        <%= link_to filter_path(i), method: :delete, data:{confirm: "Are You Sure you want to delete tag \"#{i.name}\"?", disable_with: "Deleting...", id:"#{n}"}, remote: true, id: "user-tag-delete" do %>
          <b class="badge red"><span class="list-group-addon glyphicon glyphicon-remove"></span></b><%end%>
        </span>
      </div><% end %>
    </div><!--end_list-group-->